.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--background_color_header);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  align-items: center;
  justify-items: center;
  min-height: var(--navbar-height);
  color: var(--text_color_header);
}

.account {
  display: flex;
  justify-self: end;
  cursor: pointer;
  gap: 20px
}