.app.blue{
    --bg-color: #07074f;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #f2f2f3;
    --secondary-color: #8585AD;

    --inverted-primary-color: #07074f;
    --inverted-secondary-color:#49494c;
}