.app.dark {
    --bg-color: #131316;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #f2f2f3;
    --secondary-color: #8585AD;

    --inverted-primary-color: #131316;
    --inverted-secondary-color:#49494c;
}