.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color:  #1c1c21;
    --primary-color: #1c1c1e;
    --secondary-color:#8585AD;

    --inverted-primary-color:#1c1c21;
    --inverted-secondary-color:#49494c;
}