.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color:  #131316;
    --primary-color: #131316;
    --secondary-color:#8585AD;

    --inverted-primary-color:#131316;
    --inverted-secondary-color:#49494c;
}